.draggable {
    touch-action: none;
    user-select: none;
  }


.draggable-text{
 width: fit-content;
 /* -ms-transform: rotate(20deg); /* IE 9
  -webkit-transform: rotate(20deg); /* Safari 3-8 
  transform: rotate(20deg); */
}

.draggable-logo{
  width: fit-content;
}

.resizable-logo{
  width: fit-content;
}



button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
}




.editor-console{
 
  background: white;
  overflow: hidden;

  /* background-image: url('../../assets/ntr5.jpg'); */
  background-size: contain;
  /* background-size: 1000px ; */
  background-repeat: no-repeat;

  height: 600px;
  width: 1000px;
}


.watermark-playground{
  margin-top: 50px;
  margin-left: 10%;
}