.draggable {
    touch-action: none;
    user-select: none;
  }


.draggable-text{
 width: fit-content;
 /* -ms-transform: rotate(20deg); /* IE 9
  -webkit-transform: rotate(20deg); /* Safari 3-8 
  transform: rotate(20deg); */
}

.draggable-logo{
  width: fit-content;
}

.resizable-logo{
  width: fit-content;
}



button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
}


.watermark-playground{
  background: #c5bebe;
  width: 600px;
  margin-left: 10%;
}

.editor-console{
  /* background-image: url("../../assets/resize_img.jpg"); */
  width: 1000px;
  height: 750px;
  background-repeat: no-repeat;
  max-width: 1000px;
  max-height: 750px;
  margin-left: 50px;

}



.watermarkText1{
  opacity: 0.9;
}


/* onmove logo text outline style */

.draggable-text :hover{
  outline: 3px dashed blue;
  outline-offset: 5px;
}

.draggable-logo :hover{
  outline: 3px dashed blue;
  outline-offset: 5px;
}






/* testing video divs */

#video-container {
	position: relative;
  overflow: hidden;
  /* position: absolute; */
}

